@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  @apply scroll-smooth;
}

body {
  @apply flex flex-col h-screen text-[14px] md:text-[16px] tracking-[0.7px] md:tracking-[0.8px] text-secondary bg-background-(main);
}

footer {
  @apply flex justify-center py-[20px] text-primary;
}

.video-loop {
  @apply absolute object-cover w-screen h-screen z-[-20];
}

.h1 {
  @apply text-[28px] md:text-[48px] font-bold tracking-[1.4px] md:tracking-[2.4px];
}

.h2 {
  @apply text-[24px] md:text-[32px] font-semibold tracking-[1.2px] md:tracking-[1.6px];
}

.h3 {
  @apply text-[21px] md:text-[28px] font-semibold tracking-[1.05px] md:tracking-[1.4px];
}

.h4 {
  @apply text-[19px] md:text-[21px] font-semibold tracking-[0.95px] md:tracking-[1.05px];
}

.h5 {
  @apply text-[17px] md:text-[19px] font-semibold tracking-[0.85px] md:tracking-[0.95px];
}

/* NavBar */
header {
  @apply px-[20px] md:px-[70px] lg:px-[100px] py-[20px];
}

.nav-bar {
  @apply flex items-center justify-between;
}

/* NavBarLinks */
.nav-bar-links {
  @apply hidden lg:flex gap-[30px];
}

.nav-text-container {
  @apply flex flex-col items-center relative px-[16px] py-[8px];
}

.nav-text {
  @apply transition-all ease-in duration-500;
}

.nav-text-container:hover .nav-text {
  @apply drop-shadow-[-2px_0_4px_#1FDA53] transition-all ease-out duration-500;
}

.nav-text.active {
  @apply drop-shadow-[-2px_0_4px_#1FDA53];
}

.nav-text-line {
  @apply absolute bottom-0 bg-primary w-[0px] h-[2px] transition-all ease-in duration-500;
}

.nav-text-line.active {
  @apply absolute bottom-0 bg-primary w-[45%] h-[2px] transition-all ease-out duration-500;
}

/* Logo */
.logo g :not(#foreground) {
  @apply invisible opacity-0 transition-all ease-in duration-500;
}

.logo:hover g :not(#foreground) {
  @apply visible opacity-100 transition-all ease-out duration-500;
}

/* NavBarSocials */
.nav-bar-socials {
  @apply hidden lg:flex gap-[30px] pl-[130px];
}

.linkedin-icon #foreground {
  @apply fill-secondary transition-all ease-in duration-500;
}

.linkedin-icon {
  @apply hover:drop-shadow-[0_0_6px_#59ED82] transition-all ease-out duration-500;
}

.linkedin-icon:hover #foreground {
  @apply fill-primary transition-all ease-out duration-500;
}

.github-icon #foreground {
  @apply fill-secondary transition-all ease-in duration-500;
}

.github-icon {
  @apply hover:drop-shadow-[0_0_6px_#59ED82] transition-all ease-out duration-500;
}

.github-icon:hover #foreground {
  @apply fill-primary transition-all ease-out duration-500;
}

/* Nav Menu */
.nav-menu-container {
  @apply invisible opacity-0 flex lg:hidden absolute w-screen h-screen bg-background-(main) bg-opacity-25 z-[100] transition-all ease-in duration-500;
}

.nav-menu-container.active {
  @apply visible opacity-100 transition-all ease-out duration-500;
}

.nav-menu {
  @apply translate-x-[414px] fixed right-0 flex flex-col gap-[20px] w-screen sm:w-[414px] h-full px-[20px] md:px-[70px] pt-[20px] pb-[50px] bg-background-(alt) transition-all ease-out duration-500;
}

.nav-menu.active {
  @apply translate-x-0 transition-all ease-out duration-500;
}

.nav-menu-top {
  @apply flex justify-end;
}

.nav-menu-links {
  @apply flex flex-col items-center gap-[30px] py-[20px];
}

.nav-menu-socials {
  @apply flex justify-center gap-[30px] mt-auto;
}

.menu-icon {
  @apply flex lg:hidden cursor-pointer;
}

.menu-icon:hover path {
  @apply fill-primary-(light) transition-all ease-out duration-500;
}

.close-icon {
  @apply cursor-pointer;
}

.close-icon:hover path {
  @apply fill-primary-(light) transition-all ease-out duration-500;
}

/* Home Page */
.home {
  @apply relative flex items-center justify-center min-[850px]:justify-end px-[20px] md:px-[70px] lg:px-[100px] h-screen;
}

/* Intro */
.intro-container {
  @apply right-[100px] bottom-[0px] px-[30px] md:px-[70px] py-[30px] md:py-[50px] w-[390px] md:w-[646px] rounded-[15px] md:rounded-[25px] bg-background-(alt) shadow-[0px_0px_40px_0_rgba(31,218,83,0.25)] md:shadow-[-30px_-30px_30px_0_rgba(31,218,83,0.25)];
}

.intro {
  @apply invisible fixed opacity-0 flex flex-col items-start gap-[14px];
}

.intro.active {
  @apply visible static opacity-100 transition-all ease-out duration-1000;
}

.name-title-cta-container {
  @apply flex flex-col gap-[30px];
}

.name-title-container {
  @apply flex flex-col gap-[7px];
}

.title-card-container {
  @apply flex max-[406px]:flex-col gap-[10px] items-start min-[407px]:items-center;
}

.title-card {
  @apply px-[12px] py-[6px] bg-primary-(light) rounded-[7px] text-background-(main) text-[13px] tracking-[0.6px];
}

.main-btn {
  @apply flex items-center gap-[5px] px-[16px] py-[7px] rounded-[10px] bg-primary text-background-(main) hover:bg-primary-(light) transition-all ease-out duration-500;
}

.alt-btn {
  @apply flex items-center gap-[5px] px-[16px] py-[7px] rounded-[10px] border-primary border-[1px] text-primary hover:bg-background-(main) transition-all ease-out duration-500;
}

#view-btn,
#contact-btn,
#back-btn {
  @apply max-[406px]:w-full max-[406px]:justify-center;
}

#view-btn img {
  @apply transition-all ease-out duration-500;
}

#view-btn:hover img {
  @apply translate-x-[2px] translate-y-[-2px] transition-all ease-in duration-300;
}

#contact-btn img {
  @apply transition-all ease-out duration-500;
}

#contact-btn:hover img {
  @apply translate-x-[3px] transition-all ease-in duration-300;
}

.intro-container .cta-container {
  @apply flex gap-[24px] max-[406px]:flex-col max-[406px]:w-full;
}

/* Contact Me */
.get-in-touch {
  @apply invisible fixed opacity-0 flex flex-col items-start gap-[30px];
}

.get-in-touch.active {
  @apply visible static opacity-100 transition-all ease-out duration-1000;
}

form {
  @apply flex flex-col gap-[13px] w-full;
}

.input-container {
  @apply flex gap-[13px] transition-all ease-in duration-300;
}

.input-field {
  @apply w-full h-[45px] px-[20px] py-[11px] rounded-[9px] border-primary border-b-[1px] outline-none bg-transparent hover:border-[1px] hover:bg-background-(main) placeholder:text-gray-300 focus:border-[1px] focus:bg-background-(main);
}

textarea {
  @apply h-[80px] px-[20px] py-[11px] rounded-[9px] border-primary border-b-[1px] outline-none bg-transparent hover:border-[1px] hover:bg-background-(main) placeholder:text-gray-300 resize-none;
}

#send-btn {
  @apply justify-center gap-[7px] w-[120px] max-[406px]:w-full md:w-[170px];
}

#back-btn img {
  @apply transition-all ease-out duration-500;
}

#back-btn:hover img {
  @apply translate-x-[-3px] transition-all ease-in duration-300;
}

/* Portfolio Page */
.portfolio {
  @apply h-screen min-h-[400px] overflow-y-scroll px-[20px] md:px-[50px] py-[70px] gap-y-[50px] grid grid-cols-1 min-[900px]:grid-cols-2 min-[1300px]:grid-cols-3 place-items-center;
}

.portfolio-container {
  @apply relative w-[334px] sm:w-[368px] h-[200px] sm:h-[221px] rounded-[25px] overflow-hidden text-[14px] tracking-[0.7px] bg-background-(main) hover:shadow-[-8px_8px_10px_0_#1FDA53] transition-all ease-out duration-500;
}

.portfolio-container.active {
  @apply shadow-[-8px_8px_10px_0_#1FDA53] transition-all ease-out duration-500;
}

.portfolio-container .image {
  @apply absolute object-cover transition-all ease-out duration-500;
}

.portfolio-container:hover .image {
  @apply opacity-50 transition-all ease-out duration-500;
}

.portfolio-container.active .image {
  @apply opacity-50 transition-all ease-out duration-500;
}

.portfolio-container .chevron-triple-right-icon {
  @apply invisible opacity-0 absolute translate-x-[-70px] transition-all ease-in duration-500;
}

.portfolio-container:hover .chevron-triple-right-icon {
  @apply visible opacity-100 translate-x-[190px] transition-transform ease-out duration-500 delay-1000;
}

.portfolio-container.active .chevron-triple-right-icon {
  @apply visible opacity-100 translate-x-[190px] transition-transform ease-out duration-500 delay-1000;
}

.portfolio-details {
  @apply absolute bottom-0 flex flex-col gap-[12px] px-[20px] sm:px-[30px] py-[10px] w-full h-full bg-[rgba(15,15,15,0.7)] translate-y-[160px] sm:translate-y-[180px] transition-all ease-in duration-500;
}

.portfolio-details.active {
  @apply py-[20px] sm:py-[30px] translate-y-0 transition-all ease-out duration-500;
}

.portfolio-details .heading {
  @apply flex items-center gap-[7px] pb-[12px] border-b-[1px] border-primary cursor-pointer;
}

.portfolio-details .heading .loop-title-container {
  @apply flex items-center gap-[7px];
}

.portfolio-details .heading .loop-title-container .loop-icon-container {
  @apply relative flex items-center justify-center w-[14px] h-[14px] rounded-full overflow-hidden;
}

.portfolio-details .heading .loop-title-container .loop-icon-container .circle {
  @apply absolute w-[5px] h-[5px] rounded-full bg-primary;
}

.portfolio-details
  .heading
  .loop-title-container
  .loop-icon-container
  .vid-loop {
  @apply object-cover w-full h-full;
}

.portfolio-container .cta-container {
  @apply visible opacity-100 absolute bottom-[24px] right-[30px] z-[10] transition-all ease-in duration-500;
}

.portfolio-container .cta-container.inactive {
  @apply invisible opacity-0 transition-all ease-out duration-500;
}

.portfolio-container .cta-container .ctas {
  @apply relative flex justify-end items-center pr-[40px] w-[146px] h-[35px];
}

.figma-icon,
.adobe-xd-icon {
  @apply mr-[7px] hover:drop-shadow-[0_0_6px_#59ED82] transition-all ease-out duration-500;
}

.figma-icon:hover g path {
  @apply stroke-primary transition-all ease-out duration-500;
}

.adobe-xd-icon:hover #foreground {
  @apply fill-primary transition-all ease-out duration-500;
}

.portfolio-btn {
  @apply absolute right-0;
}

.portfolio-btn button {
  @apply relative flex items-center;
}

.portfolio-btn button .right-arrow-icon {
  @apply z-[2];
}

.portfolio-btn button .pop-side {
  @apply invisible opacity-0 z-[1] absolute right-[17.5px] flex items-center text-nowrap h-[35px] pl-[13px] pr-[25px] rounded-tl-[20px] rounded-bl-[20px] bg-primary-(light) text-background-(main) transition-all ease-in duration-500;
}

.portfolio-btn:hover .pop-side {
  @apply visible opacity-100 transition-all ease-out duration-500;
}

.chevron-up-icon {
  @apply cursor-pointer;
}

.portfolio-details .heading .chevron-icon-container {
  @apply relative w-full;
}

.portfolio-details .heading .chevron-icon-container .chevron-icon-wrapper {
  @apply absolute w-full flex items-center transition-all ease-in duration-500;
}

.portfolio-details.active
  .heading
  .chevron-icon-container
  .chevron-icon-wrapper {
  @apply translate-x-full transition-all ease-out duration-500;
}

.portfolio-details
  .heading
  .chevron-icon-container
  .chevron-icon-wrapper
  .chevron-up-icon {
  @apply absolute transition-all ease-in duration-500;
}

.portfolio-details.active .heading .chevron-icon-container .chevron-up-icon {
  @apply -translate-x-full -rotate-180 transition-all ease-out duration-500;
}

.portfolio-details .desc-container {
  @apply flex flex-col gap-[10px];
}

.portfolio-details .desc-container .desc-title {
  @apply text-primary;
}

.portfolio-details .desc-container .desc-text {
  @apply flex gap-[7px];
}

/* About Page */
.about {
  @apply flex flex-col min-[823px]:flex-row gap-[50px] px-[20px] md:px-[50px] py-[70px] h-screen min-h-[400px] overflow-y-scroll;
}

.side-intro {
  @apply flex max-[483px]:flex-col min-[823px]:flex-col justify-center items-center gap-[30px] p-[30px] rounded-[10px] h-fit bg-background-(alt);
}

.side-intro-image {
  @apply relative size-[200px] rounded-[50%] overflow-hidden;
}

.official-image {
  @apply absolute object-cover object-[0px_0px];
}

.side-intro-details {
  @apply flex flex-col items-center gap-[20px];
}

.side-intro-details .title-role {
  @apply flex flex-col items-center gap-[10px];
}

.side-intro-details .location {
  @apply flex items-center gap-[7px];
}

.side-intro-details .language-container {
  @apply flex gap-[12px];
}

.side-intro-details .language {
  @apply relative flex rounded-[7px] pb-[2px] overflow-hidden z-[1];
}

.side-intro-details .language-container .text {
  @apply px-[7px] py-[3px] rounded-[7px] bg-[#212121];
}

.side-intro-details .language-container .progress-bg {
  @apply absolute -bottom-[5px] w-full h-[15px] bg-[#4D4D4D] -z-[2];
}

.side-intro-details .language-container .progress {
  @apply absolute -bottom-[5px] h-[15px] bg-primary -z-[1];
}

.work-experience-education {
  @apply flex flex-col gap-[30px] w-full min-[823px]:w-[409px] min-[823px]:flex-grow h-full min-h-[600px] overflow-y-scroll;
}

.work-experience-container,
.education-container {
  @apply flex flex-col gap-[20px];
}

.work-experience-card,
.education-card {
  @apply grid grid-cols-[26px_1fr] gap-[10px];
}

.work-image-container,
.education-image-container {
  @apply relative size-[26px] rounded-[50%] overflow-hidden;
}

.work-image,
.education-image {
  @apply absolute object-cover;
}

.work-experience,
.education {
  @apply flex flex-col gap-[10px];
}

.work-experience .role,
.work-experience .duration,
.education .field,
.education .duration {
  @apply text-primary;
}

.work-experience .desc {
  @apply list-disc pl-[20px];
}

.side-sections-container {
  @apply relative w-[264] hidden min-[1152px]:flex;
}

.side-sections {
  @apply flex flex-col h-fit gap-[12px] p-[30px] rounded-[10px] bg-background-(alt) fixed;
}

.sections-container {
  @apply relative flex;
}

.line-bar-bg {
  @apply absolute h-full w-[3px] rounded-[5px] bg-[#333333];
}

.sections {
  @apply flex flex-col gap-[10px];
}

.work-section-container,
.education-section-container {
  @apply relative flex;
}

.line-bar {
  @apply hidden absolute h-full w-[3px] rounded-[5px] bg-primary-(light);
}

.line-bar.active {
  @apply flex;
}

.work-section,
.education-section {
  @apply flex flex-col gap-[4px];
}

.work-section .main,
.education-section .main {
  @apply flex items-center gap-[7px] py-[3px] pl-[15px] pr-[30px] cursor-pointer;
}

.sub-container {
  @apply hidden flex-col;
}

.sub-container.active {
  @apply flex;
}

.work-section .sub,
.education-section .sub {
  @apply flex items-center gap-[4px] py-[3px] pl-[15px] text-[14px];
}

.work-section .sub.active,
.education-section .sub.active {
  @apply bg-primary-(light) text-background-(main);
}

.sections .chevron-up-icon {
  @apply -rotate-180 transition-all ease-in duration-300;
}

.sections .chevron-up-icon.active {
  @apply rotate-0 transition-all ease-out duration-300;
}

.arrow-left-icon {
  @apply -rotate-180;
}

.arrow-left-icon.active path g {
  @apply fill-background-(main);
}
